@mixin clearfix {
        content: "";
        display: table;
        clear: both;
}

@mixin respond($breakpoint){
        @if ($breakpoint == tab-big) {
                @media (max-width:75em){
                        @content;
                }
}
      
       @if ($breakpoint == tab-normal) {
        @media (max-width:56em){
                @content;
        }
}
 
@if ($breakpoint == phone) {
        @media (max-width:37.5em){
                @content;
        }
}
@if ($breakpoint == big-screen) {
        @media (min-width:120em){
                @content;
        }
}
}